{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %} 
<section>
    <div class="hero">
        <img src="../static/images/Map.jpg" class="img-fluid" alt="woman looking at map" style="max-width: 100%; height:auto;">
        <h2 class="wel-title">Welcome to Open Road</h2>
    </div>
</section>
<section>
    <div class="info">
        <h3>More Information</h3>
        <hr />
        <div class="card-container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <img src="../static/images/carMap.jpg" class="card-img-top" alt="Campervan Toy on a Map">
                    <div class="card-body">
                        <h5 class="card-title">Get to know us</h5>
                    <p class="card-text">If you want to read more about who we are and our company, click the button below for more information.</p>
                    <a href="Modal" class="btn btn-success">About us</a>
                    </div>
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="../static/images/yellowstone.jpg" class="card-img-top" alt="Yellowstone National Park">
                    <div class="card-body">
                        <h5 class="card-title">North American Road Trips</h5>
                        <p class="card-text">Not sure whether you want to sign up? Click the button below to view some of our sample road trips.</p>
                          <a class="btn btn-success" href="/preview">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                  <img src="../static/images/login.jpg" class="card-img-top" alt="Image of a person typing on their keyboard">
                    <div class="card-body">
                        <h5 class="card-title">Want to view some more of our Road Trips?</h5>
                        <p class="card-text">You can view more of our road trips by either logging in or signing up by clicking the buttons below.</p>
                        <div class="centerBtn">
                        <a href="/login" class="btn btn-outline-dark">Login</a>
                        <a href="/sign-up" class="btn btn-dark";>Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                </div>
            </div>
</section>
<br>
{% endblock %} 
