{% extends "base.html" %} 
{% block title %} Trip Notes {% endblock %}
{% block content %} 
<section class="container">
<h2 >Trip Notes</h2>
<ul class="list-group list-group-flush" id="notes">
    {% for plan in user.notes %}
    <li class="list-group-item">{{ plan.data }}
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="plan" id="plan" cols="30" rows="10" class="form-control"></textarea>
    <br>
    <div class="tripButton">
        <button type="submit" class="btn btn-success">Add Trip Notes</button>
    </div>
</form>
</section>
{% endblock %}